My name is {{name}} and today is {{date}}

<h1><img src="https://emojis.slackmojis.com/emojis/images/1531849430/4246/blob-sunglasses.gif?1531849430" width="30"/> Hey! Nice to see you.</h1>

<p>Welcome to my page! </br> I'm Fedor, Frontend developer
<h3>Things I code with</h3>
<p>
  <img alt="PHP" src="https://img.shields.io/badge/-PHP-45b8d8?style=flat-square" />
  <img alt="Javascript" src="https://img.shields.io/badge/-Javascript-45b8d8?style=flat-square" />
  <img alt="React" src="https://img.shields.io/badge/-React-45b8d8?style=flat-square" />
  <img alt="Webpack" src="https://img.shields.io/badge/-Webpack-8DD6F9?style=flat-square" />
  <img alt="git" src="https://img.shields.io/badge/-Git-F05032?style=flat-square" />
  <img alt="npm" src="https://img.shields.io/badge/-NPM-CB3837?style=flat-square" />
  <img alt="html5" src="https://img.shields.io/badge/-HTML5-E34F26?style=flat-square" />
  <img alt="CSS3" src="https://img.shields.io/badge/-CSS3-E34F26?style=flat-square" />
  <img alt="PostgreSQL" src="https://img.shields.io/badge/-PostgreSQL-E34F26?style=flat-square" />
  <img alt="Nodejs" src="https://img.shields.io/badge/-Nodejs-43853d?style=flat-square" />
  <img alt="GraphQL" src="https://img.shields.io/badge/-GraphQL-43853d?style=flat-square" />
  <img alt="MySQL" src="https://img.shields.io/badge/-MySQL-43853d?style=flat-square" />
  <img alt="Sass" src="https://img.shields.io/badge/-Sass-43853d?style=flat-square" />
  <img alt="XPath" src="https://img.shields.io/badge/-XPath-43853d?style=flat-square" />

  ------------
<p align="center">This <i>README</i> file is generated <b>every 3 hours</b>!</br>Last refresh: {{refresh_date}}<br /><aCreate your own here!</a></p>